
/* background color for big info card of a hero */
.cardBg{
    background-color: #272829;
    box-shadow: 0px 0px 4px 1px #a19c9c;
    color:rgb(243, 183, 183);
}


/* links inside the info card of hero */
.card-title a {
    text-decoration: none;
}

/* change color on hovering of links */
.card-title a:hover{
    text-decoration: underline;
}


/* for images in subheading of hero page */
.heading-icon{
    width: 55px;
    height: 45px;
}


/* styles for all the small card of story, comic, series */
.smallCard{
    box-shadow: 0px 0px 4px 1px #a19c9c;
    background-color: #272829;
    color:rgb(243, 183, 183);
}