body{
    margin: 0;
    padding: 0;
    background-image: linear-gradient( 180deg, rgba(0,0,0,1) 11.2%, rgb(101 20 20) 100.9% );
    height: 100vh;
    width: 100vw;
    background-attachment: fixed;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 5px;
    background-image: linear-gradient( 180deg, rgba(0,0,0,1) 11.2%, rgb(101 20 20) 100.9% );
  }
  
::-webkit-scrollbar-thumb {
    background: rgb(207, 10, 10); 
    border-radius: 10px;
    height: 10px;
}

#heroContainer{
    overflow-x: hidden;
}

#heroContainer a div{
    background-color: white;
    width: 18rem;
    background: linear-gradient(162deg, rgba(204,88,88,1) 30%, rgba(107,33,33,1) 92%);
    box-shadow: 0px 0px 7px 2px #612424;
}

.cardBtn{
    background-image: linear-gradient(to right, #870000 0%, #190A05 51%, #870000 100%);
    border: none;
    box-shadow: 0px 0px 2px 1px #870000;
}