
/* style to body tag of all the html page */
body{
    margin: 0;
    padding: 0;
    background-color: black;
    height: 100vh;
    width: 100vw;
    background-attachment: fixed;
    overflow-x: hidden;
}

/* styling the scroll bar */
::-webkit-scrollbar {
    width: 5px;
    background-image: linear-gradient( 180deg, rgba(0,0,0,1) 11.2%, rgb(101 20 20) 100.9% );
}
  
::-webkit-scrollbar-thumb {
    background: rgb(207, 10, 10); 
    border-radius: 10px;
    height: 10px;
}


/* overflow hidden of main card container of pages */
#heroContainer{
    overflow: hidden;
}

/* style to direct div child of card container */
#heroContainer > div{
    width: 18rem;
    color: white;
    box-shadow: 0px 0px 4px 1px #a19c9c;
    background-color: #272829;
    cursor: pointer;
}


/* button inside the hero card ( Add to favourite / Remove from favourite) */
.cardBtn{
    background: radial-gradient(circle at 10.6% 22.1%, rgb(206, 18, 18) 0%, rgb(199 31 31) 100.7%);
    box-shadow: 0px 0px 2px 1px rgb(105, 101, 101);
    color: #ffe8e8;
    border: none;
}

/* hero's card title */
.card-title:hover{
    color:#e2acac;
}


/* style card image */
.col-md-4 img{
    height: 100%;
}


/* colour for all the h1 elements  */
h1{
    color:#d01111;
}



/* ==============================   Responsive design for Cards ==========================================  */


/* for screen below width 770px  */
@media screen and (max-width:770px) {
    #heroContainer > div{
        width: 15rem;
    }
}


/* for screen below width 660px */
@media screen and (max-width:660px) {
    #heroContainer > div{
        width: 12rem;
    }
}


/* for screen below screen width 510px */
@media screen and (max-width:510px) {
    #heroContainer > div{
        width:85%;
    }
}